<p style="color: green"><%= notice %></p>

<h1>Uploads</h1>

<div id="uploads">
  <% @uploads.each do |upload| %>
    <%= render upload %>
    <p>
      <%= link_to "Show this upload", upload %>
    </p>
  <% end %>
</div>

<%= link_to "New upload", new_upload_path %>
